@import "bootstrap_variables";
@import "bootstrap_functions";

//
// Bootstrap Breakpoints
//

$small-breakpoint: map-get($grid-breakpoints, "sm") !default;
$medium-breakpoint: map-get($grid-breakpoints, "md") !default;
$large-breakpoint: map-get($grid-breakpoints, "lg") !default;
$xl-breakpoint: map-get($grid-breakpoints, "xl") !default;

$mobile-breakpoint: $medium-breakpoint !default;
$screen: "only screen" !default;

$mobile-margin-compensation: -15px;

//
// Generic Responsive Helpers
//

@mixin mobile {
  @media #{$screen} and (max-width:#{$mobile-breakpoint - 1}) {
    @content;
  }
}

@mixin desktop {
  @media #{$screen} and (min-width:#{$mobile-breakpoint}) {
    @content;
  }
}

//
// Size Specific Responsive Helpers
//

@mixin small {
  @media #{$screen} and (max-width:#{$medium-breakpoint - 1}) {
    @content;
  }
}

@mixin medium {
  @media #{$screen} and (min-width:#{$medium-breakpoint}) and (max-width:#{$large-breakpoint - 1}) {
    @content;
  }
}

@mixin large {
  @media #{$screen} and (min-width:#{$large-breakpoint}) and (max-width:#{$xl-breakpoint - 1}) {
    @content;
  }
}

@mixin xl {
  @media #{$screen} and (min-width:#{$xl-breakpoint}) {
    @content;
  }
}

//
// VW Units
//

$desktop-context: 1440;
$mobile-context: 320;

$vw-desktop-context: ($desktop-context * 0.01) * 1px;
$vw-mobile-context: ($mobile-context * 0.01) * 1px;

@function vw($target) {
  @return ($target / $vw-desktop-context) * 1vw;
}

@function vw-mobile($target) {
  @return ($target / $vw-mobile-context) * 1vw;
}

//
// VW Helpers
//

@mixin mattr($property, $desktop-size, $mobile-size) {
  #{$property}: $desktop-size;

  @include mobile {
    #{$property}: $mobile-size;
  }
  @include desktop {
    #{$property}: $desktop-size;
  }
}

@mixin vw-attr($property, $size) {
  #{$property}: $size;

  @include mobile {
    #{$property}: vw-mobile($size);
  }
  @include desktop {
    #{$property}: vw($size);
  }
}

@mixin vw-mattr($property, $desktop-size, $mobile-size) {
  #{$property}: $desktop-size;

  @include mobile {
    #{$property}: vw-mobile($mobile-size);
  }
  @include desktop {
    #{$property}: vw($desktop-size);
  }
}

//
// Site Wide Styles
//

@mixin box-shadow {
  @include mobile {
    box-shadow: 0px vw-mobile(4px) vw-mobile(14px) vw-mobile(-2px) $gray3;
  }
  @include desktop {
    box-shadow: 0px vw(4px) vw(14px) vw(-2px) $gray3;
  }
}

@mixin image-as-button {
  border: none;
  background-color: transparent;
}

@mixin center-it {
  display: flex;
  justify-content: center;
  align-items: center;
}
//
// Development Helpers
//

@mixin responsive-border {
  border: solid 2px $black;

  @include small {
    border-color: $red;
  }

  @include medium {
    border-color: $yellow;
  }

  @include large {
    border-color: $blue;
  }

  @include xl {
    border-color: $green;
  }
}