@media print {
  .hidden-print {
    display: none !important;
  }
  .conditions {
    max-width: 100%;
    width: 100%;
    flex: none;
  }
  .print-all {
    display: block !important;
  }
  .box-footer {
    display: none;
  }
}