.container-fluid
  .row.my-5
    .col-1
    .col-4
      = react_component('GaugeChart', {size:'300px', percent: rand(101), simulator:nil, dashboardState:''})
    .col-4
      = react_component('GaugeChart', {size:'300px', percent: rand(101), simulator:nil, dashboardState:''})
    .col-3
  .row{style: "margin-top: 11vw"}
    .col-7
      = react_component('ActionsContainer', {jwtHash: generate_jwt()} )
    .col-5
      / Unity WebGL Module
      #unity-container.unity-desktop{style:'height:530px'}
        %canvas#unity-canvas
      .container{:style => "z-index: 1; pointer-events: none;"}
        #loading-cover{:style => "display:none;"}
          #unity-loading-bar
            #unity-logo
              %img{:src => "https://3dbiome.s3.amazonaws.com/TemplateData/logo.png"}/
            #unity-progress-bar-empty{:style => "display: none;"}
              #unity-progress-bar-full
            .spinner
      #unity-fullscreen-button{:style => "display: none;"}

/ Unity Script
:javascript
  let unityEnv = "#{@unity_environment}";
%script{src: "unity.js"}
%script{src: "https://code.jquery.com/jquery-3.5.1.min.js"}