.container-fluid.p-4.h-100
  -# .row.my-5
  -#   .col-1
  -#   .col-4
  -#     = react_component('GaugeChart', {score: rand(101)})
  -#   .col-4
  -#     = react_component('GaugeChart', {score: rand(101)})
  -#   .col-3

  .row
  %ul.list-group.metric__tree.react-will-hide
    - Structure.roots.each do |root|
      = render partial: "tree_node_index", locals: {node: root}

  .row.h-100
    .col-12.12.col-md-7.h-100.child_h-100.conditions#conditions
      = react_component('pages/MainPage', {mode:@mode, jwtHash: generate_jwt(), structures: structures_props(), journeys: users_journeys_h(), shared: @shared_journey} )
    .col-sm-12.col-md-5#unity-wrapper.hidden-print
      / Unity WebGL Module
      .pt-0.pr-2.pb-2.pl-0.unity-sizing
        #unity-container.unity-desktop
          %canvas#unity-canvas{style: 'border-radius: 0 0 0 24px;  width:37vw;' }
        .container{:style => "z-index: 1; pointer-events: none;"}
          #loading-cover{:style => "display:none;"}
            #unity-loading-bar
              #unity-logo
                %img{:src => "https://3dbiome.s3.amazonaws.com/TemplateData/logo.png"}/
              #unity-progress-bar-empty{:style => "display: none;"}
                #unity-progress-bar-full
              .spinner
        #unity-fullscreen-button{:style => "display: none;"}
          .up.arr
            ➜
          .down.arr
            ➜

/ Unity Script
:javascript
  let unityEnv = "#{@unity_environment}";
-# %script{src: "unity.js"}