@import 'bootstrap_variables';
@import 'mixins';

.conditions {
  &__radio {
    &--input {
      // width: 2em;
      // height: 2rem;
      margin-right: 1rem;
      cursor: pointer;
    }
    &--label {
      font-size: $h3-font-size;
      // margin: 0;
      line-height: 2rem;
      // cursor: pointer;
    }
  }
  // overflow: scroll;
  // height: vw(700px);
  &__condition {
    cursor: pointer;
  }
  &__group-title {
    border: solid 1px $black;
    border-radius: 8px;
    height: vw(40px);
    padding: vw(10px);
  }
}