@import 'bootstrap_variables';
@import 'mixins';

.zany-radios {
  // width: 30rem;
  padding: 1rem;

  color: grey;
  font-family: Arial;
}

.list__item {
  padding: 0;
  display: inline;

  &.first {
    & label {
      padding: 0 2px;
    }
    & input {
    }
  }
  &.spacer {
    &:before {
      content: 'select:';
    }
  }
}

.zany-radios-list {
  padding: 0;
  margin: 0;

  .header {
    display: inline;
  }

  & .hide-til-hov {
    display: none;
  }
  &:hover {
    & .hide-til-hov {
      display: inline;
    }
    & .spacer:before {
      display: none;
    }
  }
}
.label--radio {
  position: relative;
  font-family: Arial, sans-serif;
  line-height: 135%;
  padding: 1rem;
  cursor: pointer;
  &:hover {
    border-radius: 12px;
    box-shadow: inset 0 0 0.2rem $gray-500;
  }
}

.list label:hover {
  box-shadow: 0 0 3px #333;
}

.circle-radio {
  &:hover {
    box-shadow: 0 0 0 0.1rem $gray-500;
  }
  label, input {cursor: pointer;}
  label {
    font-size: 2rem;
    margin: 0;
    padding: 0.4rem 0;
  }
  input {
    position: relative;

    &:before {
      transition: transform 0.4s;
      transform: scale(0, 0);
      position: absolute;
      top: -0.1rem;
      left: 0.25rem;
      z-index: 1;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 28%;

      color: white;
      background: $secondary;
      text-align: center;

      padding: 0 0 0 0;
      font-size: 1.1rem;
      content: '✓';
      line-height: 1.4;
    }

    &:checked {
      &:before {
        transition: transform 0.4s;
        transform: scale(1, 1);
      }
    }

    &:after {
      border: solid 1px $secondary;
      content: '';

      position: absolute;
      top: -0.4rem;
      left: 0rem;

      width: 2rem;
      height: 2rem;

      background: #fff;

      border-radius: 28%;
    }
  }
}

.radio {
  display: none;
}
.radio,
.circle-radio {
  &:checked ~ label {
    color: $primary;
  }
}
