@import 'bootstrap_variables';
@import 'mixins';

.form {
  &__input {
    border-radius: 12px;
    background-color: $gray-300;
    border: none;
    &.text {
      padding: 2rem;
    }
    &.dropdown {
      height: 4rem;
      padding: 0 2rem;
    }
  }
}
