.journey {
  margin: vw(15px);
  .back {
    font-size: vw(14px);
    padding: vw(5px) vw(15px);
    border: solid 1px grey;
  }
  .box {
    margin-top: vw(15px);
    padding: vw(15px);
    border: 1px grey solid;
  }
  .label {
    color: grey;
  }
  
  .jour-box{
    // border: 1px grey solid;
    padding: vw(10px);
    margin-bottom: vw(40px);
    font-size: vw(20px)
  }
  .one-jour{
    padding: vw(10px);
  }
  .jcol {
    padding: vw(15px);
    background: #eee;
  }
  .jcol2 {
    background: #ddd;
    // border: 1px grey solid;
  }
}